.img-logo {
    border-radius: 20%;
    margin-right: 10px;
}
.button-tabela {
    margin:8px;

}
.row-alinhamento{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center
}
.button-new {
    margin:10px;
}